#chat_content {
    border: 1px solid darkgrey;
    width: 100%;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    overflow: auto;
    max-width: 500px;
    white-space: normal; 
}

#chat_content p {
    margin: 5px;
    font-size: 15px;
    white-space: normal;    
}

#chat_username, #chat_content, #chat_message, #chat_sendMessage {
    margin-bottom: 5px;
    font-style: bold;
}
#chat_sendMessage {
    margin-left: 10px;
}

#chat_message {
    width: 95%;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
}



#chat_panel {
    background-image: linear-gradient(0deg, #1ee5ff,#c0e243);
    background-size: cover;			
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

fieldset {
    margin-left: 10px;
    margin-right: 10px;
}


