.pqcform2 {
    background-image: linear-gradient(0deg, #a4ff2d,#3d3be29a);
    padding: 20px;    
    margin-left:20px;
    margin-top: 20px;
    width: fit-content;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;			 
    border-radius:5px;
    float: left;
}