#homediv {
    background-image: linear-gradient(0deg, #23f1e7,#0cbcf1);
    height: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    height:fit-content; 
}

#pannelhome {
    background-image: linear-gradient(0deg, #fafafa34,#edf1f12a);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 5px;   
    height:fit-content;  
}

#cot1 li{
    font-size: '20px';
}