div#footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(0deg, #4bb603,#ffea32);
    border-radius: 0.3rem;
 }
