.pqcform {
    position: fixed;
    background-image: linear-gradient(0deg, #1fce76,#7ec032);
    padding: 20px;  
    bottom: 10px;
    left: 50px;
    width: fit-content;    
    max-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;			 
    border-radius:5px;
    float: left;    
    z-index: 999999;
    
}

.col {    
    padding: 10px;
    width: 200px;
    margin: auto;
}
input, button {    
    border-radius: 5px !important; 
    font-size: 18px !important;
    font-weight: 300;
    height: 100%;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
}

.row {
    display: flex;
    padding-left: 15px;
    padding-right: 20px;   
}

label {
    color: honeydew;
}

.form-group {
    margin: auto;
}
.pqc_dataTable{
    float: left;
    background-image: linear-gradient(0deg, #4017af,#32abc0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;    
    margin-top: 20px;
    padding: 10px;    
    width: 100%;
    height: 1250px; 
}

.my-custom-scrollbar {
    position: relative;    
    overflow: auto;
    height: 1200px
    }
.table-wrapper-scroll-y {
display: block;
}
td:hover {
    background-color: rgba(8, 245, 8, 0.5);
}

#pqc_data_table {
    overflow-x: auto;
}
