#basic_info {
    background-image: linear-gradient(0deg, #0a7abb,#0cd4d4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;			 
    border-radius:2px;
}
#watch {    
    font-size: 25px;
    color: rgb(216, 238, 16);
    margin: 100px;
}